body {
  padding: 1rem;
  font-family: Helvetica;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

code {
  background: #f3f3f3;
  text-shadow: none;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 1em;
  margin: 0;
  border-radius: 0;
  font-family: 'Courier New';
  white-space: pre-wrap;
}

#result {
  border: .25rem dashed #aaa;
  padding: 2rem;
}